@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-size: 30px 30px;
    background-image: radial-gradient(
      circle,
      #525252 1px,
      rgba(0, 0, 0, 0) 1px
    );
    @apply text-stone-900 bg-slate-50;
  }

  *:focus {
    @apply outline-none ring-2 ring-yellow-500 ring-offset-2 transition-shadow;
  }
}

@layer components {
  .link {
    @apply font-bold underline rounded-sm hover:decoration-2;
  }
}

@layer utilities {
  .bg-hover-effect-overlay {
    position: fixed;
    z-index: 10;
    pointer-events: none;
    width: 200vw;
    height: 200vh;
    left: -100vw;
    top: -100vh;
    transform-origin: center;
    background-color: #f8fafc;
    opacity: 0.8;
  }

  .bg-hover-effect-mask {
    -webkit-mask-image: radial-gradient(
      200px at 50% 50%,
      transparent 50%,
      black 100%
    );
    mask-image: radial-gradient(200px at 50% 50%, transparent 50%, black 100%);
  }
}
